:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Ubuntu Sans", "Ubuntu", Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.25;

    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 100px;
}

@media only screen and (min-width: 1400px) {
    body {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1800px) {
    body {
        max-width: 1200px;
    }
}

a {
    color: #4183C4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code {
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: flex;
    align-items: baseline;
}

h1 {
    color: #bd1837;
    font-size: 2.25em;
    line-height: 1.2;
}

h2 {
    color: #f36b00;
    font-size: 1.75em;
    line-height: 1.2;
}

h3 {
    color: #ffbd00;
    font-size: 1.5em;
    line-height: 1.2;
}

h4 {
    color: #008e6d;
    font-size: 1.25em;
}

h5 {
    color: #007fd3;
    font-size: 1.1em;
}

h6 {
    color: #672f7f;
    font-size: 1em;
}

/* Each header should also have a bar of color
from the end of the header's text to the right edge.
This can be done by adding empty text content,
and using flex-grow. */
h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    content: "";
    flex-grow: 1;
    margin-left: 12px;
}

h1::after {
    height: 20px;
    border-radius: 8px;
    background-color: #bd1837a0;
}

h2::after {
    height: 16px;
    border-radius: 8px;
    background-color: #f36b00a0;
}

h3::after {
    height: 13.5px;
    border-radius: 8px;
    background-color: #ffbd00a0;
}

h4::after {
    height: 11px;
    border-radius: 8px;
    background-color: #008e6da0;
}

h5::after {
    height: 9px;
    border-radius: 8px;
    background-color: #007fd3a0;
}

h6::after {
    height: 9px;
    border-radius: 8px;
    background-color: #672f7fa0;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li>ol,
li>ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}

blockquote blockquote {
    padding-right: 0;
}

table {
    padding: 0;
    word-break: initial;
}

table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}

table th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}

table th:first-child,
table td:first-child {
    margin-top: 0;
}

table th:last-child,
table td:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
    border-top: 1px solid #eef2f2;
}

code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}

@media print {
    html {
        font-size: 13px;
    }

    pre {
        page-break-inside: avoid;
        word-wrap: break-word;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.image-case {
    display: flex;
    justify-content: center;
    padding: 0 10% 0 10%;
}

.image-case img {
    width: 40%;
}